<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.acooly.portlets.alog.core.dao.ActionMappingDao">

    <resultMap id="actionMappingResultMap" type="com.acooly.portlets.alog.core.entity.ActionMapping">
        <id property="id" column="actionMapping_id"/>
        <result property="mappingType" column="actionMapping_mapping_type"/>
        <result property="actionKey" column="actionMapping_action_key"/>
        <result property="actionName" column="actionMapping_action_name"/>
        <result property="createTime" column="actionMapping_create_time"/>
        <result property="updateTime" column="actionMapping_update_time"/>
        <result property="comments" column="actionMapping_comments"/>
    </resultMap>

    <sql id="actionMappingSqlSelect">
            actionMapping.id as actionMapping_id,
            actionMapping.mapping_type as actionMapping_mapping_type,
            actionMapping.action_key as actionMapping_action_key,
            actionMapping.action_name as actionMapping_action_name,
            actionMapping.create_time as actionMapping_create_time,
            actionMapping.update_time as actionMapping_update_time,
            actionMapping.comments as actionMapping_comments
    </sql>

</mapper>