<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.acooly.portlets.alog.analysis.persist.dao.ActionAnalysisVisitsDao">

    <resultMap id="actionAnalysisVisitsResultMap" type="com.acooly.portlets.alog.analysis.persist.entity.ActionAnalysisVisits">
        <id property="id" column="actionAnalysisVisits_id"/>
        <result property="period" column="actionAnalysisVisits_action_day"/>
        <result property="type" column="actionAnalysisVisits_type"/>
        <result property="visits" column="actionAnalysisVisits_visits"/>
        <result property="createTime" column="actionAnalysisVisits_create_time"/>
        <result property="updateTime" column="actionAnalysisVisits_update_time"/>
    </resultMap>

    <sql id="actionAnalysisVisitsSqlSelect">
            actionAnalysisVisits.id as actionAnalysisVisits_id,
            actionAnalysisVisits.action_day as actionAnalysisVisits_action_day,
            actionAnalysisVisits.type as actionAnalysisVisits_type,
            actionAnalysisVisits.visits as actionAnalysisVisits_visits,
            actionAnalysisVisits.create_time as actionAnalysisVisits_create_time,
            actionAnalysisVisits.update_time as actionAnalysisVisits_update_time
    </sql>

</mapper>